.social-icons {
  position: relative;
  margin-bottom: 50px;
  .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.social-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 950px;
  width: 100%;
  @media screen and (max-width: 991px) {
    flex-direction: column;
  }
  // .social-icons-container__text

  &__text {
    font-size: 16px;
    color: $black;
    @media screen and (max-width: 991px) {
      text-align: center;
    }
  }
}
.social-icons-container-icons {
  display: flex;
  align-items: center;
  margin-left: 50px;
  @media screen and (max-width: 991px) {
    margin: 30px 0 0 0;
  }
  // .social-icons-container-icons__icon

  &__icon {
    border-radius: 50%;
    padding: 20px;
    background-color: $orange;
    margin: 0px 5px;
    &:hover {
      img {
        transition: transform 0.3s linear;
        transform: scale(1.2);
      }
    }
    img {
      transition: transform 0.3s linear;
      height: 20px;
      width: auto;
    }
  }
}
