.news {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 120px 0px 50px 0px;
  background: $main-dark;

  @media screen and (max-width: 991px) {
    padding-top: 90px;
  }

  &__title {
    position: relative;
    display: inline;
    font-weight: 700;
    @include adaptiv-value("font-size", 70, 45, 0);
    color: $white;
    margin-left: 50px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 4px;
      height: 18px;
      background: $white;
      z-index: 99;
    }

    &::after {
      top: 78px;
      left: 50%;
      transform: translateX(-50%);
      height: 60px;
    }

    &::before {
      bottom: 70px;
      left: 50%;
      transform: translateX(-50%);
      height: 60px;
    }

    @media screen and (max-width: 991px) {
      margin-left: 0px;
      &::after,
      &::before {
        height: 40px;
      }
      &::before {
        bottom: 65px;
      }
      &::after {
        top: 65px;
      }
    }
    @media screen and (max-width: 358px) {
      &::before {
        bottom: 110px;
      }
      &::after {
        top: 110px;
      }
    }
  }
}

.news-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  a {
    border: 1px solid $white;
    font-size: 14px;
    padding: 15px 30px;
    color: $white;
    text-transform: uppercase;
    border-radius: 4px;
    transition: border 0.3s linear;

    &:hover {
      border: 1px solid $brown;
      transition: border 0.3s linear;
    }
  }

  @media screen and (max-width: 991px) {
    margin-top: 30px;
  }
}

.left-side-news {
  // .left-side-news__main-image-container

  &__main-image-container {
    position: relative;
    margin-bottom: 20px;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: transparent
        linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat
        padding-box;
      width: 100%;
      height: 50%;
      z-index: 1;
    }
    .left-side-news__description {
      position: absolute;
      bottom: 33px;
      left: 39px;
      z-index: 2;
      @media screen and (max-width: 458px) {
        left: 10px;
        bottom: 10px;
      }

      p {
        font-weight: 700;
        @include adaptiv-value("font-size", 22, 16, 0);
        color: $white;
        margin-bottom: 20px;
        @media screen and (max-width: 458px) {
          margin-bottom: 5px;
        }
      }

      a {
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 10px;
        color: $main-light;
        text-transform: lowercase;

        svg {
          margin-left: 5px;
          height: 8px;
          width: 8px;
          fill: $main-light;
        }
      }
    }
  }

  // .left-side-news__main-images-with-title-container

  &__main-images-with-title-container {
    @media screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 0;
    }

    .right-side-news__image-with-title-container {
      display: none;

      .left-side-news__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: $white;
        padding: 15px;

        h3 {
          font-weight: 600;
          font-size: 20px;
          color: $black;
          padding: 10px 0;
        }

        p {
          font-size: 12px;
          color: $main;
          margin-bottom: 10px;
        }

        a {
          text-transform: lowercase;
          font-size: 10px;
          font-weight: 300;
          color: $main-dark;
          text-transform: lowercase;
          display: flex;
          align-items: center;

          svg {
            margin-left: 5px;
            height: 8px;
            width: 8px;
            fill: $main-dark;
          }
        }
      }

      @media screen and (max-width: 767px) {
        display: block;
      }
    }
  }
}

.right-side-news {
  // .right-side-news__image-with-title-container

  &__image-with-title-container {
    @media screen and (max-width: 991px) {
      width: 50%;
      padding: 0px 0px 20px 0px;
      &:last-child {
        padding-bottom: 0;
      }
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    margin-bottom: 20px;
    .col-12 {
      display: flex;
      justify-content: center;
      @media screen and (max-width: 991px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      img {
        width: 200px;
        min-height: 133px;
        @media screen and (max-width: 991px) {
          height: 133px;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
    }

    .right-side__info {
      margin: 20px 0px 0ex 25px;
      @media screen and (max-width: 991px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
      }

      a {
        font-size: 12px;
        padding: 7px 14px;
        color: $main-dark;
        background: $white;
        margin: 15px auto;
        text-transform: uppercase;
        align-self: start;
        transition: color, background-color 0.3s linear;

        &:hover {
          color: $white;
          background-color: $brown;
          transition: color, background-color 0.3s linear;
        }
      }

      p {
        font-weight: 500;
        @include adaptiv-value("font-size", 18, 16, 0);
        color: $white;
        margin-top: 15px;
        @media screen and (max-width: 991px) {
          margin-top: 0px;
        }
      }
    }
  }
}

table {
  width: 100%;
  height: 100%;
  display: table;

  td {
    width: 212px;
    height: 100%;
    vertical-align: top;

    &:nth-child(2) {
      width: 20px;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    color: $black;
    padding: 10px 10px;
  }

  p {
    font-size: 12px;
    color: $main;
    padding: 10px 10px;
  }

  a {
    text-transform: lowercase;
    font-size: 10px;
    font-weight: 300;
    color: $main-dark;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    padding: 10px 10px;

    svg {
      margin-left: 5px;
      height: 8px;
      width: 8px;
      fill: $main-dark;
    }
  }

  .bg-white {
    background: $white !important;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.right-side-news__images-with-title-container {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 991px) {
    justify-content: center;
  }
}
