<section class="contact-us">
  <img
    class="contact-us__bg-logo"
    src="../images/footer/logo-footer-big.svg"
    alt="logo" />
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-intro__form contact-intro-form">
          <div class="contact-intro-form__header contact-intro-form-header">
            <div class="contact-intro-form-header__title">
              <h2>
                Для замовлення уроку або отримання додаткової інформації, будь
                ласка, заповніть форму і наш представник зв'яжеться з Вами.
              </h2>
            </div>
          </div>
          <div class="contact-intro-form__body contact-intro-form-body">
            <form
              class="contact-intro-form-body__form contact-intro-form-body-form"
              action="#">
              <div
                class="contact-intro-form-body-form__inputs contact-intro-form-body-form-inputs">
                <input
                  class="contact-intro-form-body-form-inputs__input"
                  type="text"
                  placeholder="Ваше ім'я" />
                <input
                  class="contact-intro-form-body-form-inputs__input"
                  type="text"
                  placeholder="Ваш e-mail" />
                <input
                  class="contact-intro-form-body-form-inputs__input"
                  type="tel"
                  placeholder="Ваш телефон" />
              </div>
              <textarea
                class="contact-intro-form-body-form__textarea"
                name=""
                id=""
                cols="30"
                rows="10"
                placeholder="Текст повідомлення"></textarea>
            </form>
          </div>
          <div class="contact-intro-form__footer contact-intro-form-footer">
            <p class="contact-intro-form-footer__text">
              This site is protected by reCAPTCHA and the Google Privacy Policy
              and Terms of Service apply.
            </p>
            <button type="submit" class="contact-intro-form-footer__button">
              Відправити
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
