<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="footer__title">
          <img src="../../images/footer/logo_title.png" alt="" />
        </h1>
        <ul class="footer__menu">
          <li><a href="#">СТАТТІ</a></li>
          <li><a href="#">МАТЕРІАЛИ</a></li>
          <li><a href="#">КРЕАЦЕНТР</a></li>
          <li><a href="#">ПРО НАС</a></li>
        </ul>
        <a href="#" class="footer__button">
          <img src="../../images/footer/email-icon.png" alt="email-icon" />
          <span>ЗВ'ЯЖІТЬСЯ З НАМИ</span>
        </a>
        <div class="footer__social-icons footer-social-icons">
          <a href="" class="footer-social-icons__block">
            <img src="../../images/footer/facebook.svg" alt="" />
          </a>
          <a href="#" class="footer-social-icons__block">
            <img src="../../images/footer/telegram.svg" alt="" />
          </a>
          <a href="#" class="footer-social-icons__block">
            <img src="../../images/footer/youtube.svg" alt="" />
          </a>
          <a href="#" class="footer-social-icons__block">
            <img src="../../images/footer/instagram.svg" alt="" />
          </a>
        </div>
        <h6 class="footer__rights-reserved">
          © 2016 - 2022 Всі права захищено
        </h6>
      </div>
    </div>
  </div>
  <button class="go-up">
    <img src="../../images/footer/arrow-up.svg" alt="arrow-up" />
  </button>
</footer>
