<footer class="footer">
  <div class="big-logo">
    <img src="../../images/footer/logo-footer-big.svg" alt="logo-footer-big" />
  </div>
  <div class="small-logo">
    <img
      src="../../images/footer/logo-footer-small.svg"
      alt="logo-footer-small" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="footer__title">креацентр планета земля</h1>
        <ul class="footer__menu">
          <li><a href="#">СТАТтІ</a></li>
          <li><a href="#">відео</a></li>
          <li><a href="#">про нас</a></li>
          <li><a href="#">контакти</a></li>
        </ul>
        <a href="#" class="footer__button">
          @
          <span>ЗВ'ЯЖІТЬСЯ З НАМИ</span>
        </a>
        <div class="footer__social-icons footer-social-icons">
          <a
            href="https://www.facebook.com/CreacenterPlanetEarth/"
            class="footer-social-icons__block">
            <img src="../../images/footer/facebook.svg" alt="facebook" />
          </a>
          <a
            href="https://t.me/CreacenterPlanetEarth"
            class="footer-social-icons__block">
            <img src="../../images/footer/telegram.svg" alt="telegram" />
          </a>
          <a
            href="https://www.youtube.com/channel/UCYTes7ZRVygvHAih0LaPeTw"
            class="footer-social-icons__block">
            <img src="../../images/footer/youtube.svg" alt="youtube" />
          </a>
          <a
            href="https://www.instagram.com/creacenterplanetearth/"
            class="footer-social-icons__block">
            <img src="../../images/footer/instagram.svg" alt="instagram" />
          </a>
        </div>
        <h6 class="footer__rights-reserved">
          © 2016 - 2022 Всі права захищено
        </h6>
      </div>
    </div>
  </div>
</footer>
