<header class="header">
  <div class="container">
    <a href="#" class="header__logo header-logo">
      <div class="header-logo__icon">
        <img class="header__logo" src="" alt="site-logo" />
      </div>
      <div class="header-logo__text">
        <span>Креацентр</span>
        <span>Планета</span>
        <span>Земля</span>
      </div>
    </a>
    <div class="header__menu menu">
      <!-- <ul class="language">
        <li>
          <span class="menu__link">ua</span>
          <span class="menu__arrow"></span>
          <ul class="menu__sublist">
            <li class="sublist-li">
              <a href="#" class="menu__sublink">ua</a>
            </li>
            <li class="sublist-li">
              <a href="#" class="menu__sublink">ru</a>
            </li>
          </ul>
        </li>
      </ul> -->
      <div class="menu__icon">
        <span></span>
      </div>
      <nav class="menu__body">
        <ul class="menu__list">
          <li>
            <span class="menu__link">головна</span>
          </li>
          <li>
            <span class="menu__link">статті</span>
            <span class="menu__arrow"></span>
            <ul class="menu__sublist">
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №1</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №2</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №3</a>
              </li>
            </ul>
          </li>
          <li>
            <span class="menu__link">матеріали</span>
            <span class="menu__arrow"></span>
            <ul class="menu__sublist">
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №1</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №2</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №3</a>
              </li>
            </ul>
          </li>
          <li>
            <span class="menu__link">Креацентр</span>
            <span class="menu__arrow"></span>
            <ul class="menu__sublist">
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №1</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №2</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №3</a>
              </li>
            </ul>
          </li>
          <li>
            <span class="menu__link">про нас</span>
            <span class="menu__arrow"></span>
            <ul class="menu__sublist">
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №1</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №2</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №3</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="search-input">
          <input type="text" placeholder=" type your request" />
          <img
            class="search-icon"
            src="../../images/header/search.svg"
            alt="search-icon" />
        </div>
        <button type="button" class="help-us">Підтримати</button>
      </nav>
    </div>
  </div>
</header>
