<header class="header">
  <div class="container">
    <a href="../index.html" class="header__logo header-logo">
      <img src="../../images/header/logo.svg" alt="" />
    </a>
    <div class="header__menu menu">
      <div class="menu__icon">
        <span></span>
      </div>
      <nav class="menu__body">
        <ul class="menu__list">
          <li>
            <a href="../index.html" class="menu__link">головна</a>
          </li>
          <li>
            <span class="menu__link">статті</span>
          </li>

          <li>
            <span class="menu__link">матеріали</span>
            <span class="menu__arrow"></span>
            <ul class="menu__sublist">
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Книги</a>
              </li>
              <li class="sublist-li">
                <a href="../video.html" class="menu__sublink">Відео</a>
              </li>
            </ul>
          </li>
          <li>
            <span class="menu__link">Креацентр</span>
            <span class="menu__arrow"></span>
            <ul class="menu__sublist">
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Музей</a>
              </li>
              <li class="sublist-li">
                <a href="../lectures-and-seminars.html" class="menu__sublink">Лекції та семінари</a>
              </li>
              <li class="sublist-li">
                <a href="../lectures-for-children.html" class="menu__sublink">
                  Уроки та майстер-класи для дітей</a
                >
              </li>
            </ul>
          </li>
          <li>
            <span class="menu__link">про нас</span>
            <span class="menu__arrow"></span>
            <ul class="menu__sublist">
              <li class="sublist-li">
                <a href="../about-us.html" class="menu__sublink">Хто ми?</a>
              </li>
              <li class="sublist-li">
                <a href="../team.html" class="menu__sublink">Наша команда</a>
              </li>
              <li class="sublist-li">
                <a href="../contact.html" class="menu__sublink">Контакти </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="search-input">
          <input type="text" placeholder=" type your request" />
          <img
            class="search-icon"
            src="../../images/header/search.svg"
            alt="search-icon" />
        </div>
        <ul class="language" data-da=".header__menu,1399,0">
          <li>
            <span class="menu__link">ua</span>
            <span class="menu__arrow"></span>
            <ul class="menu__sublist">
              <li class="sublist-li">
                <a href="#" class="menu__sublink">ua</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">ru</a>
              </li>
            </ul>
          </li>
        </ul>
        <a href="../help-us.html" class="help-us">Підтримати</a>
      </nav>
    </div>
  </div>
</header>
