<header class="header">
  <div class="container">
    <a href="#" class="header__logo header-logo">
      <div class="header-logo__icon">
        <img class="header__logo" src="" alt="site-logo" />
      </div>
      <div class="header-logo__text">
        <span>Креацентр</span>
        <span>Планета</span>
        <span>Земля</span>
      </div>
    </a>
    <div class="header__menu menu">
      <div class="menu__icon">
        <span></span>
      </div>
      <nav class="menu__body">
        <ul class="menu__list">
          <li>
            <a data-goto=".page__section_1" href="#" class="menu__link"
              >головна</a
            >
          </li>
          <li>
            <a href="#" class="menu__link">статті</a>
            <span class="menu__arrow"></span>
            <ul class="menu__sublist">
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №1</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №2</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="menu__link">Матеріали</a>
            <span class="menu__arrow"></span>
            <ul class="menu__sublist">
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №1</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №2</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="menu__link">Креацентр</a>
            <span class="menu__arrow"></span>
            <ul class="menu__sublist">
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №1</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №2</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="menu__link">Про нас</a>
            <span class="menu__arrow"></span>
            <ul class="menu__sublist">
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №1</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №2</a>
              </li>
              <li class="sublist-li">
                <a href="#" class="menu__sublink">Sub link №3</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
