<section class="we-offer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          data-aos="fade"
          data-aos-anchor-placement="top-bottom"
          data-aos-once="true"
          class="we-offer__title">
          <h2>Як організувати захід?</h2>
        </div>
      </div>
      <div class="col-12">
        <div
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
          data-aos-once="true"
          class="we-offer__block we-offer-block">
          <div class="we-offer-block__number">1</div>
          <p class="we-offer-block__text">Виберіть тему уроку та дату</p>
          <img
            src="../images/header/logo.png"
            alt="dino"
            class="we-offer-block__img" />
        </div>
        <div
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
          data-aos-once="true"
          class="we-offer__block we-offer-block">
          <div class="we-offer-block__number">2</div>
          <p class="we-offer-block__text">
            Розкажіть нам про місце проведення <br />
            <span>(Ми проводимо заходи по всій території України)</span>
          </p>

          <img
            src="../images/header/logo.png"
            alt="dino"
            class="we-offer-block__img" />
        </div>
        <div
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
          data-aos-once="true"
          class="we-offer__block we-offer-block">
          <div class="we-offer-block__number">3</div>
          <p class="we-offer-block__text">
            Насолоджуйтесь <br />
            <span>(наша команда зробить все необхідне)</span>
          </p>
          <img
            src="../images/header/logo.png"
            alt="dino"
            class="we-offer-block__img" />
        </div>
      </div>
    </div>
  </div>
</section>
