<section class="search">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="search__block search-block">
          <div class="search-block__container search-block-container">
            <input
              type="text"
              class="search-block-container__input"
              placeholder="Пошук за темами (введіть ваш запит)" />
            <img
              class="search-block-container__img"
              src="@img/header/search.svg"
              alt="search-icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
