<section class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="subscribe__container subscribe-container">
          <div class="subscribe-container__img">
            <img loading="lazy" src="../images/subscribe/telegram.svg" alt="" />
          </div>
          <div class="subscribe-container__submit">
            <h4>ПІДПИШИСЯ НА РОЗСИЛКУ</h4>
            <h5>Ваша пошта</h5>
            <div class="subscribe-container__input">
              <input
                type="text"
                placeholder="Введіть адресу електронної пошти" />
              <button type="submit">
                <img
                  loading="lazy"
                  src="../images/subscribe/tick.svg"
                  alt="tick" />
                <span>ПІДПИСАТИСЯ</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
