.creationists {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 120px 0px 50px 0px;
  @media screen and (max-width: 991px) {
    padding-top: 50px;
  }

  .news-footer {
    a {
      color: $dark-brown;
      border-color: $dark-brown;
    }
  }

  .col-12 {
    &:first-child {
      display: flex;
      // justify-content: center;
      align-items: center;
      margin-bottom: 44px;
      @media screen and (max-width: 991px) {
        justify-content: center;
      }
    }
  }
  // .creationists__title

  &__title {
    position: relative;
    display: inline;
    font-family: Montserrat-Bold;
    @include adaptiv-value("font-size", 60, 40, 0);
    color: $black;
    margin-left: 50px;
    &::after,
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 4px;
      height: 18px;
      background: $main;
      z-index: 99;
    }
    &::after {
      top: 78px;
      left: 8%;
      transform: translateX(-8%);
      height: 60px;
    }
    &::before {
      bottom: 70px;
      left: 8%;
      transform: translateX(-8%);
      height: 60px;
    }
    @media screen and (max-width: 991px) {
      margin-left: 0px;
      &::after,
      &::before {
        height: 40px;
      }
    }
    @media screen and (max-width: 767px) {
      text-align: center;
      &::before {
        bottom: 80px;
      }
      &::after {
        top: 80px;
      }
    }
    @media screen and (max-width: 489px) {
      &::before {
        left: 50%;
        transform: translateX(-50%);
        bottom: 120px;
      }
      &::after {
        left: 50%;
        transform: translateX(-50%);
        top: 120px;
      }
    }
  }
}
.creationists-block {
  @media screen and (max-width: 991px) {
    margin-bottom: 30px;
  }
}
.creationists-block-profile {
  // .creationists-block-profile__info
  // @media screen and (max-width: 991px) {
  //   &:last-child {
  //     margin-bottom: 20px;
  //   }
  // }
  &__info {
  }

  // .creationists-block-profile__description

  &__description {
    display: flex;
    align-items: center;
    padding-top: 60px;
    img {
      width: 50px;
      height: auto;
      align-self: flex-start;
      margin: -28px 5px 0px 0px;
      @media screen and (max-width: 767px) {
        width: 30px;
        margin: -9px 5px 0px 0px;
      }
    }
    p {
      @include adaptiv-value("font-size", 20, 17, 0);
      font-family: Montserrat-Italic;
      color: $dark-grey;
    }
  }
}
.creationists-block-profile-info {
  position: relative;
  display: flex;
  img {
    width: 280px;
    height: 280px;
    @media screen and (max-width: 767px) {
      width: 100%;
      height: auto;
    }
  }

  // .creationists-block-profile-info__description

  &__description {
    position: absolute;
    bottom: 2%;
    right: 6%;
    transform: translateX(-6%);
    background: $white;
    padding: 25px 0px 25px 25px;
    max-width: 160px;
    z-index: 9;
    @media screen and (max-width: 1200px) {
      width: 100%;
      bottom: -24%;
      right: 0%;
    }
    @media screen and (max-width: 767px) {
      bottom: -65px;
    }

    h6 {
      font-family: Montserrat-Bold;
      font-size: 18px;
      color: $main-dark;
      margin-bottom: 20px;
      span {
        text-transform: uppercase;
      }
    }
    p {
      position: relative;
      font-size: 12px;
      color: $black;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -10px;
        // transform: translateY(-50%);
        width: 40%;
        height: 1px;
        background: $main;
      }
    }
  }
}
