.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .swiper {
    width: 100%;
    height: 100%;
    hr {
      position: absolute;
      width: 40px;
      height: 24px;
      bottom: 6px;
      right: 75px;
      border-right: 2px solid $white;
      border-left: none;
      border-bottom: none;
      border-top: none;
      z-index: 9;
    }
  }

  .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    color: $white;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    .swiper-slide__info {
      position: relative;
      z-index: 999;
      margin-bottom: 150px;
    }
    // .swiper-slide__button

    &__button {
      button {
        padding: 15px 30px;
        color: $white;
        background-color: $black;
        font-size: 16px;
        transition: background-color 0.3s linear;
        &:hover {
          transition: background-color 0.3s linear;
          background-color: $main-dark;
          cursor: pointer;
        }
      }
      margin-bottom: 20px;
    }

    // .swiper-slide__text

    &__text {
      padding: 0px 20px;
      @include adaptiv-value("font-size", 40, 20, 0);
      font-family: Montserrat-Bold;
      max-width: 800px;
    }
  }
  .swiper-button-next {
    color: $white;
    font-weight: bold;
    right: 10%;
    top: 60%;
    transform: translateY(-60%);
    @media screen and (max-width: 1091px) {
      right: 1%;
    }
    @media screen and (max-width: 872px) {
      display: none;
    }
  }

  .swiper-button-prev {
    color: $white;
    font-weight: bold;
    left: 10%;
    top: 60%;
    transform: translateY(-60%);
    @media screen and (max-width: 1091px) {
      left: 1%;
    }
    @media screen and (max-width: 872px) {
      display: none;
    }
  }
  .swiper-pagination {
    text-align: end;
    .swiper-pagination-bullet {
      border: 2px solid $white !important;
      padding: 3px;
      background-color: transparent;
      transition: background-color 0.3s linear;
      &:last-child {
        margin-right: 100px;
      }
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      transition: background-color 0.3s linear;
      background-color: $orange !important;
      border: 2px solid transparent !important;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      right: 42px;
      width: 5px;
      height: 8px;
      background: $white;
      transform: translateY(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      right: 50px;
      width: 5px;
      height: 8px;
      background: $white;
      transform: translateY(-50%);
    }
  }
}
