.pagination {
  margin: 50px 0px;
}

.pagination-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  a {
    font-size: 16px;
    color: $main-dark;
    font-weight: 700;
    padding: 10px 15px;
    border: 1px solid $main-dark;
    margin: 10px;
    transition: all 0.3s linear;
    &:hover {
      color: $orange;
      border: 1px solid $orange;
    }
    &:first-child,
    &:last-child {
      position: relative;
      color: $main-dark;
      z-index: 1;
      transition: all 0.3s linear;
      &:hover {
        color: $orange;
        border: 1px solid $orange;
      }
      // &::before {
      //   content: "";
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   height: 60%;
      //   width: 100%;
      //   background: $main-dark;
      //   z-index: -1;
      //   transition: height 0.2s linear;
      // }

      &:hover {
        &::before {
          height: 100%;
        }
      }
    }
    &:first-child {
      margin-right: 20px;
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
      margin-left: 20px;
    }
    &:nth-child(2) {
      padding: 10px 16px;
    }
    &.active {
      background-color: $main-dark;
      color: $orange;
    }
  }
}
