.block {
  margin: 0px 0px 30px 0px;

  &._init .block__title {
    cursor: pointer;
    padding: 10px 40px 10px 10px;

    &::before,
    &::after {
      content: "";
      width: 20px;
      height: 1px;
      background: white;
      position: absolute;
      right: 10px;
      top: 20px;
      transition: transform .3s ease 0s;
    }

    &::after {
      transform: rotate(-90deg);
    }

    &._active::after {
      transform: rotate(0deg);
    }
  }

  &__item {
    margin: 0px 0px 10px 0px;
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: transparent;
    color: white;
    padding: 10px;
    position: relative;
  }

  &__text {
    padding: 0px 10px 10px;
    line-height: 130%;
  }
}

.block_1 {
  .block__item {
    background: #77608d;
  }
}

.block_2 {
  .block__item {
    background: #794f45;
  }
}

.block_3 {
  .block__item {
    background: #212430;
    color: white;
  }
}