.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.col-1,
.col-2,
.col-3 {
  position: relative;
  width: 100%;
  padding: 0px 15px;
}

@media (min-width: 1200px) {
  .col-1 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 992px) {
  .col-1 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 768px) {
  .col-1 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 575px) {
  .col-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-2 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 768px) {
  .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 575px) {
  .col-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 575px) {
  .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-4 {
  flex: 0 0 100%;
  max-width: 100%;
}