.videos {
  .media-block {
    .media-block__description {
      p {
        font-weight: 500;

        &::after {
          display: none;
        }
      }
    }
    .media-block__content{
      padding-bottom: 60%;
    }
  }
}
