.our-partners {
  margin-bottom: 50px;
  // .our-partners__title

  &__title {
    color: $black;
    @include adaptiv-value("font-size", 50, 40, 0);
    margin-bottom: 50px;
    text-align: center;
    h3 {
      font-weight: 700;
    }
  }

  // .our-partners__logo

  &__logo {
    margin-bottom: 30px;
  }
}
