.similar-materials {
  // .similar-materials__title

  &__title {
    font-size: 28px;
    color: $main-dark;
    font-weight: 700;
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
}

.similar-materials-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 991px) {
    justify-content: center;
  }
}
.similar-materials-container-block {
  height: 100%;

  display: flex;
  align-items: center;
  margin: 0px 30px 30px 0px;
  box-shadow: 3px 6px 10px #45454540;
  @media screen and (max-width: 991px) {
    width: 100%;
    margin: 0px 0px 30px 0px;
  }
  // .similar-materials-container-block__img

  &__img {
    height: 100%;
    max-height: 110px;
    max-width: 150px;
    width: 100%;
  }
}
.similar-materials-container-block-info {
  padding: 12px 15px;
  width: 252px;
  @media screen and (max-width: 991px) {
    width: 100%;
  }

  // .similar-materials-container-block-info__date

  &__date {
    font-size: 12px;
    color: $main;
  }

  // .similar-materials-container-block-info__title

  &__title {
    font-weight: 600;
    color: $black;
    font-size: 14px;
    margin: 10px 0px;
  }

  // .similar-materials-container-block-info__link

  &__link {
    color: $main-dark;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    img {
      margin: 2px 0px 0px 5px;
      height: 10px;
      width: auto;
    }
  }
}
