.on-this-moment {
  margin: 100px 0px;
  @media screen and (max-width: 991px) {
    margin: 50px 0px;
  }
}

.on-this-moment-block {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // .on-this-moment-block__text

  &__text {
    @include adaptiv-value("font-size", 45, 27, 0);
    color: $main-dark;
    span {
      margin: 10px 0px;
      font-weight: 700;

      @include adaptiv-value("font-size", 70, 41, 0);
      color: $main-light;
    }
  }

  // .on-this-moment-block__img

  &__img {
    @media screen and (max-width: 991px) {
      max-height: 350px;
    }
  }
}
